.header {
    background-color: #bee3c4;
    color: white;
    padding: 20px;
    max-height: 80px;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex; /* Добавлено */
    align-items: center; /* Добавлено */
}

.logo h2 {
    color: rgb(61, 75, 4);
}

.logo img {
    max-width: 40px; /* Размер вашего логотипа */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image img {
    max-width: 100%; /* Изображение занимает всю доступную ширину */
    height: auto;
}

.description {
    text-align: center;
    margin-top: 20px;
    color: brown;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.links a:hover {
    text-decoration: underline;
}
