    .header {
        background-color: blanchedalmond;
        color: white;
        padding: 20px;
        max-height: 80px;
        display: flex;
        justify-content: center;
        height:100%;
        background-size:cover;
    }

    .logo {
        display: flex; /* Добавлено */
        align-items: center; /* Добавлено */
    }

    .logo h2 {
        color: rgb(61, 75, 4);
    }

    .logo img {
        max-width: 40px; /* Размер вашего логотипа */
    }