.courseslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .courses-item {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginationButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .paginationButton:hover {
    background-color: #0062cc;
  }