.main {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 20px;
}

.image {
    flex: 1; /* Растягиваем картинку, чтобы занять доступное пространство */
}

.image img {
    max-width: 100%;
    height: auto;
}

.description {
    flex: 1; /* Растягиваем текст, чтобы занять доступное пространство */
    text-align: center;
    margin-left: 20px; /* Добавляем отступ слева для разделения картинки и текста */
    color: brown;
    border: 2px solid #7c5757;
    box-shadow: 1 5px 4px rgba(1, 0, 0, 1);
}
